<!-- <div class="container">
  <div class="row a">
    <div class="col-sm">
     设备号
    </div>
    <div class="col-sm">
      设备类型
    </div>
    <div class="col-sm">
     设备值
    </div>
    <div class="col-sm">
      设备运行状态
    </div>
    <div class="col-sm">
      阿里云产品key
    </div>
    <div class="col-sm">
      阿里云设备名
    </div>
  </div>
  <div class="row a" *ngFor='let eqz of eqzs$ | async; let i = index'>
      <div class="col-sm">
          {{eqz.id}}
      </div>
      <div class="col-sm">
          {{eqz.type}}
      </div>
      <div class="col-sm">
          {{eqz.value}}
      </div>
      <div class="col-sm">
          {{eqz.cz}}
      </div>
      <div class="col-sm">
          {{eqz.ProductKey}}
      </div>
      <div class="col-sm">
          {{eqz.DeviceName}}
      </div>
    </div>
</div> -->
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">设备号</th>
      <th scope="col">设备类型</th>
      <th scope="col">设备值</th>
      <th scope="col">设备运行状态</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let eqz of eqzs$ | async; let i = index'>
      <th scope="row">{{i}}</th>
      <td> {{eqz.id}}</td>
      <td>{{eqz.type}}</td>
      <td>{{eqz.value}}</td>
      <td> {{eqz.cz}}</td>
    </tr>
  </tbody>
</table>
